<div class="container">
  <ng-container>
    <div class="row">
      <div class="col my-4">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th></th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="d-flex align-items-center justify-content-around">
                <img src="./assets/img/lesson-Image.png" height="60" class="order-1">
                <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"></i></span>
              </td>
              <td>
                <p>Lesson 01</p>
              </td>
              <td>
                <p>Rs. 1000.00</p>
              </td>
              <td>

              </td>
              <td>
                <p>Rs.1000.00</p>
              </td>
            </tr>
            <tr>
              <td class="d-flex align-items-center justify-content-around">
                <img src="./assets/img/lesson-Image.png" height="60" class="order-1">
                <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"></i></span>
              </td>
              <td>
                <p>Lesson 02</p>
              </td>
              <td>
                <p>Rs. 1500.00</p>
              </td>
              <td>
              </td>
              <td>
                <p>Rs. 1500.00</p>
              </td>
            </tr>
            <tr class="border-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td>Rs.2500.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 d-flex mb-5">
        <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
          <a routerLink="/checkout" class="btn btn-danger btn-sm order-1">Checkout</a>
          <a routerLink="/" class="btn btn-success btn-sm order-0">Continue Shopping</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
