<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel: +94772145491"> +94 77 214 5491</a></li>
        <li><a href="mailto: jayanadeed@gmail.com"><i class="fa fa-envelope-o"></i> jayanadeed@gmail.com</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li class="login-top-header"><i class="fa fa-location-arrow" aria-hidden="true"></i><a href="#">121/B Kaduwela Rd Malabe</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="./assets/img/pool.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <div class="col-md-6">
          <!-- responsive-nav -->

          <div id="responsive-nav">
            <!-- NAV -->
              <ul class="main-nav nav py-4 justify-content-center">
                <li class="active"><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a href="#">Quick Guide</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
              </ul>
            <!-- /NAV -->
          </div>
        <!-- /responsive-nav -->
        </div>

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>

              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">2</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list">
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="./assets/img/lesson-Image.png" alt="">
                    </div>
                    <div class="product-body">
                      <h6 class="cart-product-name">Lesson 01</h6>
                      <h4 class="product-price">Rs.1000.00</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>

                  <div class="product-widget">
                    <div class="product-img">
                      <img src="./assets/img/lesson-Image.png" alt="">
                    </div>
                    <div class="product-body">
                      <h6 class="cart-product-name">Lesson 02</h6>
                      <h4 class="product-price">Rs.1500.00</h4>
                    </div>
                    <button class="delete"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>2 Item(s) selected</small>
                  <h5>SUBTOTAL: Rs.2500.00</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">View Cart</a>
                  <a routerLink="/checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->

<!-- /NAVIGATION -->
