.vl {
  border-left: 3px solid #fbdc09;
  height: 800px;
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-left: 15px;

}
/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

