		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">All Lessons</a></li>
							<li class="active">Single Lesson</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main video -->
					<div class="col-md-12 col-md-push-2 video-row">
            <div class="content video">
              <video width="1200px" controls>
                <source src="./assets/img/1.mp4" type="video/mp4">
                Your browser does not support HTML video.
              </video>
          </div>
          </div>
					<!-- /Product video img -->
				</div>
          <!-- Product details -->
          <div class="row">
            <div class="col-md-6">
              <h3 class="description-title"> <span class="blinker">-</span>Lesson Description<span class="blinker">-</span></h3>
              <p>Build responsive, mobile-first projects on the web with the world’s most popular front-end component library.</p>
            </div>
          <div class="col-md-6">
						<div class="product-details">
							<h2 class="product-name">product name goes here</h2>
							<div>
								<h3 class="product-price">Rs.980.00</h3>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<div class="add-to-cart">
								<button class="add-to-cart-btn" routerLink="/cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
							</ul>
						</div>
          </div>
        </div>
			<!-- /container -->
		</div>
    <!-- /SECTION -->
    </div>
