<div class="image-aboutus-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="lg-text">About Us</h1>
        <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>
<div class="aboutus-section paddingTB60">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="strong">Who We Are</h1>
        <div class="border"></div>
        <p>The Genius Learners Academy of Higher Education, Sri Lanka aspires to be a leader in global education, and to be known as a progressive institution.</p>
      </div>
      <div class="col-md-6">
        <h1 class="strong">Our Vision & Mission</h1>
        <div class="border"></div>
        <p>Our mission is to provide excellent academic opportunities which will help produce students who will have a broad knowledge.</p>
      </div>
    </div>
  </div>
</div>
<div class="container team-sektion paddingTB60">
  <div class="row">
    <div class="col">
      <div class="site-heading text-center">
        <h2>Our Team</h2>
        <div class="border"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card my-2">
        <img src="assets\img\Samuditha.png" alt="" width="200px" class="card-img-top">
        <div class="card-header">
          <h3>Dinith Samuditha</h3>
        </div>
        <div class="card-body">
          <h6></h6>
        </div>
        <div class="row d-flex justify-content-center border-primary">
          <div class="social-icons">
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card my-2">
        <img src="assets\img\Pansilu.jpg" alt="" width="200px" class="card-img-top">
        <div class="card-header">
          <h3>Pansilu Maduwantha</h3>
        </div>
        <div class="card-body">
          <h6></h6>
        </div>
        <div class="row d-flex justify-content-center border-primary">
          <div class="social-icons">
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card my-2">
        <img src="assets\img\sachini.jpeg" alt="" width="200px" class="card-img-top">
        <div class="card-header">
          <h3>Sachini Dahanaka</h3>
        </div>
        <div class="card-body">
          <h6></h6>
        </div>
        <div class="row d-flex justify-content-center border-primary">
          <div class="social-icons">
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card my-2">
        <img src="assets\img\Achini.jpg" alt="" width="200px" class="card-img-top">
        <div class="card-header">
          <h3>Achini Wijesooriya
          </h3>
        </div>
        <div class="card-body">
          <h6></h6>
        </div>
        <div class="row d-flex justify-content-center border-primary">
          <div class="social-icons">
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card my-2">
        <img src="assets\img\hashan.jpg" alt="" width="200px" class="card-img-top">
        <div class="card-header">
          <h3>Hashan Jayasekara</h3>
        </div>
        <div class="card-body">
          <h6></h6>
        </div>
        <div class="row d-flex justify-content-center border-primary">
          <div class="social-icons">
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
<div class="cta-sektion cta-padding35">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-9 col-xs-12 my-4">
        <h3><span class="glyphicon glyphicon-cog"></span>Are you interested about our institute?</h3>
      </div>
      <div class="col-md-6 col-sm-3 col-xs-12 Tpadding10">
        <button type="button" class="btn btn-primary site-btn" routerLink="/teacher-register">Teacher Register</button>
        <button type="button" class="btn btn-primary site-btn" routerLink="/student-register">Student Register</button>
      </div>
    </div>
  </div>
</div>
